<form
  #resetAllForm="ngForm"
  class="reset-all-login"
  (ngSubmit)="onResetAllLogin(resetAllForm)"
>
  <button mat-button [disabled]="resetAllForm.invalid">Reset All</button>
</form>
<div class="divider-container">
  <mat-label class="or-label">OR</mat-label>
</div>
<form
  #resetLoginForm="ngForm"
  class="reset-login"
  (ngSubmit)="onResetLogin(resetLoginForm)"
>
  <mat-form-field appearance="fill">
    <mat-label>Email ID</mat-label>
    <input
      matInput
      type="email"
      ngModel
      #email="ngModel"
      name="email"
      required
      pattern="[a-z0-9.]+@[a-z0-9.-]+\.[a-z]{2,10}"
    />
    <mat-error *ngIf="email.errors?.['required']">Required</mat-error>
    <mat-error *ngIf="email.errors?.['pattern']">Invalid email</mat-error>
  </mat-form-field>
  <br />
  <br />
  <button mat-button [disabled]="resetLoginForm.invalid">Reset Login</button>
  <mat-spinner *ngIf="showSpinner" [diameter]="30"></mat-spinner>
</form>
